archive/legacy-review/gmx-services/gmx-data-collector/gmx-data-collector/pa-data-feed-model/src/main/dtd/HorseRacing.dtd

<!--
    PA Sport XML DTD
    

    XML HorseRacing DTD

    $Revision: 3.14 $
    $Date: 2012/08/31 07:48:15 $

    Copyright (c) Press Association Limited [2002]

-->

<!--
    id Entity

    defines an attribute 'id' to hold the internal database id
    (of a meeting, race, horse etc)
-->
<!ENTITY % id
    'id CDATA #REQUIRED'
>

<!-- 
    Horse Racing Element

    Horse Racing information for one or more meetings

    Elements:
    Meeting+        The meeting(s)

    Attributes:
    timestamp       The time at which the revision was created 
		    (format ISO 8601:1988 yyyymmddThhmmss+/-hhmm).  
-->
<!ELEMENT HorseRacing (Meeting+)>
<!ATTLIST HorseRacing
    timestamp CDATA #IMPLIED
>
<!-- 
    Meeting Element

    A horse racing meeting with information on zero or more races

    Elements:
    Inspection?     Inspection details (if there is one)
    Abandoned?      Present if the meeting has been abandoned
    Delayed?        Reason for delay to meeting (if applicable)
    Weather?        The current weather at the meeting
    Going?          The current going for the meeting
    Message*        Any other information about the meeting
    Race*           The race(s)
    MultiBet*       Meeting based bet details (e.g. Jackpot)

    Attributes:
    id              The internal identifier for the meeting
    revision        The revision number of the meeting
    country         The country in which the meeting is being held
    course          The course at which the meeting is being held
    date            The date on which the meeting is being
                    held (format ISO 8601:1988 yyyymmdd).  
                    All stated times occur on this date
    status          Whether or not the meeting is:
                    Dormant - the meeting has not yet started
                    Inspection - an inspection is taking place
                    Abandoned - the meeting has been abandoned
                    Delayed - the meeting is delayed
                    Active - the meeting has started
                    Finished - the meeting has finished
-->
<!ELEMENT Meeting (
    Inspection?, Abandoned?, Delayed?, Weather?, Going?,
    Message*, Race*, MultiBet*
)>
<!ATTLIST Meeting
    %id;
    revision CDATA #REQUIRED
    country CDATA #REQUIRED
    course CDATA #REQUIRED
    date CDATA #REQUIRED
    status (Dormant|Inspection|Abandoned|Delayed|Active|Finished) "Dormant"
>
<!--
    Inspection Element

    Hold inspection details

    Attributes:
    date            Date of inspection (format ISO 8601:1988 yyyymmdd)
    time            Time of inspection format ISO 8601:1988 hhmm+/-hhmm)
-->
<!ELEMENT Inspection EMPTY>
<!ATTLIST Inspection
    date CDATA #REQUIRED
    time CDATA #REQUIRED
>

<!--
    Abandoned Element
    
    Present if the meeting has been abandoned and contains
    the reason for the abandonment.
-->
<!ELEMENT Abandoned (#PCDATA)>

<!--
    Delayed Element
    
    Contains reason for the delay.
-->
<!ELEMENT Delayed (#PCDATA)>

<!-- 
    Race Element

    Race details 

    Elements:
    PrizeMoney?     Prize money awarded for the race
    Weather         The weather for this race
    Going           The going for this race
    OffTime?        The time at which the race started
    WinTime?        The time taken for the winner to complete the course
    Stewards?       Stewards details
    BetMarket*      Betting market information (includes Rule Four)
    LackFinishers?  Used if not enough finishers to fill result
    Message*        Any other information about the race
    Horse*          The horses running in the race
    WinningDistance*The distances between the runners on completing
                    the course
    Returns?        The returns generated by the result of the race
    SellingDetails* Details of horses sold or claimed after the result

    Attributes:
    id              The internal identifier for the race
    revision        The revision number of the race
    date            The date of the race (format ISO 8601:1988 yyyymmdd)
    time            The time at which the race is scheduled to start
                    (format ISO 8601:1988 hhmm+/-hhmm)
    runners         Number of runners in race.
    handicap        Whether or not the race is a handicap
    showcase        Whether or not the race is a showcase race
    trifecta        Whether or not the race has a trifecta associated with it 
    stewards        Indicates that the stewards are involved
    status          Status of the race
-->
<!ELEMENT Race (
    PrizeMoney?, Weather, Going, OffTime?, WinTime?, 
    Stewards?, BetMarket*, LackFinishers?, Message*, 
    Horse*, WinningDistance*, Returns?, SellingDetails*
)>
<!-- XXX CHANGED FILE because of duplicated property -->
<!-- Property "Stewards" is already defined. Use &lt;jaxb:property> to resolve this conflict. -->
<!-- couldn't force XJC to parse that DTD -->
    <!--stewards (-->
         <!--None |-->
         <!--Inquiry |-->
         <!--Objection |-->
         <!--InquiryAndObjection |-->
         <!--AmendedResult |-->
         <!--ResultStands ) "None"-->
<!ATTLIST Race
    %id;
    revision CDATA #REQUIRED
    date CDATA #REQUIRED
    time CDATA #REQUIRED
    runners CDATA #REQUIRED
    handicap (No|Yes) "No"
    showcase (No|Yes) "No"
    trifecta (No|Yes) "No"
    status (
         Dormant |
         Delayed |
         Parading |
         GoingDown | 
         AtThePost | 
         GoingBehind | 
         GoingInStalls | 
         UnderOrders | 
         Off | 
         Finished |
         FalseStart | 
         Photograph | 
         Result | 
         WeighedIn | 
         RaceVoid | 
         Abandoned ) "Dormant"
>

<!--
    Stewards Element

    Element:
    Inquiry?        Details of Stewards inquiry
    Objection?      Details of objection
-->
<!ELEMENT Stewards (
    ((Inquiry, Objection?) | Objection)
)>

<!--
    Inquiry Element

    Details regarding stewards inquiry 
-->
<!ELEMENT Inquiry (#PCDATA)>

<!--
    Objection Element

    Details regarding objection
-->
<!ELEMENT Objection (#PCDATA)>

<!--
    LackFinishers Element

    Sometimes not enough horses finish the race to fill the frame.
    Example: Winner finishing alone when expecting a second and third.

    This element indicates the lack of finishers, before the full
    casualty list becomes available, and also contains the PenaltyValue
    of the race if this has been revised.

    Elements:
    PenaltyValue?   Holds revised penalty value (where appropriate)

    Attributes:
    numFinished     The number of horses that completed the course.
-->
<!ELEMENT LackFinishers (
    PenaltyValue?
)>
<!ATTLIST LackFinishers
    numFinished CDATA #REQUIRED
>

<!--
    PenaltyValue Element

    Attributes:
    currency        The currency of the prize money
    amount          Penalty value amount
-->
<!ELEMENT PenaltyValue EMPTY>
<!ATTLIST PenaltyValue
    currency CDATA #REQUIRED
    amount CDATA #REQUIRED
>

<!--
    PrizeMoney Element

    Attributes:
    currency        The currency of the prize money
-->
<!ELEMENT PrizeMoney (Prize+)>
<!ATTLIST PrizeMoney
    currency CDATA #REQUIRED
>

<!--
    Prize Element

    Attributes:
    position        Finishing position the prize is for
    amount          Prize amount (currency specified in PrizeMoney element)
-->
<!ELEMENT Prize EMPTY>
<!ATTLIST Prize
    position CDATA #REQUIRED
    amount CDATA #REQUIRED
>

<!-- 
    Horse Element

    Horse details

    Elements:
    Cloth           The saddlecloth number for the horse
    Weight?         The weight carried by the horse
    Jockey?         The jockey riding the horse
    Trainer?        The trainer of the horse
    Show*           The betting show(s) on the horse
    StartingPrice?  The starting price of the horse
    Withdrawn?      Details if horse was withdrawn
    PhotoFinish?    Indicates horse involved in a photo-finish
    Result?         Result details if horse completed the course
    Casualty?       Casualty details if the horse did not complete the course
    CloseUp?        Closeup comment for the horse
    BetMovements?   Details of betting movements
    BigBets?        Big bet details

    Attributes:
    id              The internal identifier for the horse
    name            The name of the horse 
    bred            The country of breeding of the horse
    status          Whether the horse is:
                    Runner - the horse will be competing
                    NonRunner - horse is a nonrunner
                    Withdrawn - horse was withdrawn (see Withdrawn element)
                    Reserve - the horse is a reserve
-->
<!ELEMENT Horse (
    Cloth, Weight?, Jockey?, Trainer?,
    Show*, StartingPrice?, Withdrawn?,
    (PhotoFinish | Result | Casualty)?,
    CloseUp?, BetMovements?, BigBets?
)>
<!ATTLIST Horse
    %id;
    name CDATA #REQUIRED
    bred CDATA #REQUIRED
    status (Runner | NonRunner | Withdrawn | Reserve | Doubtful ) "Runner"
>

<!--
    HorseRef Element

    A reference to a Horse element
    
    Attributes:
    id              The internal identifier for the horse
    name            The name of the referenced horse
    bred            The country of breeding of the referenced horse
-->
<!ELEMENT HorseRef EMPTY>
<!ATTLIST HorseRef
    %id;
    name CDATA #REQUIRED
    bred CDATA #REQUIRED
>

<!--
    Cloth Element

    Saddlecloth or racecard number of horse

    In races where two or more horses have been "coupled" together,
    these horses share the same "number" but have an additional letter
    to be able to tell them apart. For example 1 and 1a.
-->
<!ELEMENT Cloth EMPTY>
<!ATTLIST Cloth
    number CDATA #REQUIRED
    coupled CDATA #IMPLIED
>

<!-- 
    Jockey Element

    Jockey details 

    Elements:
    Allowance?      The allowance of the jockey
    Overweight?     Overweight information.  Present only if 
                    the jockey is too heavy

    Attribute:
    id              Identifier for jockey
    name            The name of the jockey
    raceDayChange   Flag to indicate whether the jockey has changed on the race day.
-->
<!ELEMENT Jockey (
    Allowance?, Overweight?
)>
<!ATTLIST Jockey
    %id;
    name CDATA #REQUIRED
    raceDayChange ( No | Yes ) #IMPLIED
>

<!--
    Trainer Element

    Attributes:
    id              Identifier for trainer
    name            The name of the trainer
-->
<!ELEMENT Trainer EMPTY>
<!ATTLIST Trainer
    %id;
    name CDATA #REQUIRED
>

<!--
    Allowance Element

    The allowance claimed by the jockey.

    Attributes:
    units           The units in which the element value is specified
    value           The value of the weight in the specified units
-->
<!ELEMENT Allowance EMPTY>
<!ATTLIST Allowance
    units CDATA #REQUIRED
    value CDATA #REQUIRED
>

<!--
    Overweight Element

    The amount of overweight declared by the jockey.

    Attributes:
    units           The units in which the element value is specified
    value           The value of the weight in the specified units
-->
<!ELEMENT Overweight EMPTY>
<!ATTLIST Overweight
    units CDATA #REQUIRED
    value CDATA #REQUIRED
>

<!--
    Weight Element

    Attributes:
    units           The units in which the value is specified
    value           The value of the weight in the specified units
    text            Textual representation of weight e.g. 11 8 (11st 8lbs)
-->
<!ELEMENT Weight EMPTY>
<!ATTLIST Weight
    units CDATA #REQUIRED
    value CDATA #REQUIRED
    text CDATA #REQUIRED
>

<!-- 
    Show Element

    A betting show

    Elements:
    Price?          The price of the show
    
    Attributes:
    timestamp       The time at which the show was recieved
                    (format ISO 8601:1988 yyyymmddThhmmss+/-hhmm).  
                    Acts as a unique identifier for the show
        
    marketNumber    The number of the betting market in which this
                    show belongs
        
    noOffers        Whether or not no price is being offered.  If no price
                    is being offered, this has the value "Yes", otherwise
                    the attribute is absent
-->
<!ELEMENT Show (
    Price?
)>
<!ATTLIST Show 
    timestamp CDATA #REQUIRED
    marketNumber CDATA #REQUIRED
    noOffers (Yes) #IMPLIED
>
            
<!-- 
    StartingPrice Element
    
    Starting price of a horse
    
    Elements:
    Price           The starting price of the horse
    Favourite?      Position of horse within starting price market
-->
<!ELEMENT StartingPrice (
    Price, Favourite?
)> 

<!--
    Favourite Element

    Attributes:
    position        Position in market, 1 = favourite, 2 = 2nd favourite etc.
    joint           Number sharing this position in market (2 = jt, 3 = co etc)
-->
<!ELEMENT Favourite EMPTY>
<!ATTLIST Favourite
    position CDATA #REQUIRED
    joint CDATA #REQUIRED
>

<!-- 
    Withdrawn Element

    Details for withdrawn horse
    
    Elements:
    Price?          The price of the withdrawn horse (if there was one)
    Favourite?      Indicates withdrawn favourite (where applicable)

    Attribute:
    betMarket       The number of the betting market withdrawn from
    timeWithdrawn   The time of withdrawal (yyyymmddThhmm+/-hhmm)
-->
<!ELEMENT Withdrawn (
    Price?, Favourite?
)>
<!ATTLIST Withdrawn
    betMarket CDATA #REQUIRED
    timeWithdrawn CDATA #REQUIRED
>

<!-- 
    Price Element
    
    Price details

    Attributes:
    numerator       The numerator of the price
    denominator     The denominator of the price
    
    Example:
    A price of 5 to 1
    
    <Price numerator="5" denominator="1" />
-->
<!ELEMENT Price EMPTY>
<!ATTLIST Price
    numerator CDATA #REQUIRED
    denominator CDATA #REQUIRED
>

<!--
    Returns Element

    Dividends returned for the race

    Elements:
    Tote+           Tote dividends for the race
    Bet+            Forecast, Tricast etc.
-->
<!ELEMENT Returns (
    ((Tote+, Bet*) | Bet+)
)>

<!--
    Tote Element

    Elements:
    HorseRef+       The horse or result combination that the
                    dividend is paid for.
    PoolDetails?    Pool details for a Trifecta
    CarryForward?   Details if a Trifecta has not been fully won

    Attributes:
    type            The type of dividend
    currency        The currency paid in e.g. GBP
    dividend        The amount paid
    stake           Unit stake
-->
<!ELEMENT Tote (
    (HorseRef+ | ClothRef+), PoolDetails?, CarryForward?
)>
<!ATTLIST Tote
    type (Win | Place | Show |
          Exacta | Quinella | Trifecta | Superfecta | Swinger ) #REQUIRED
    currency CDATA #REQUIRED
    dividend CDATA #REQUIRED
    stake CDATA #IMPLIED
>

<!--
    ClothRef Element

    This is used as an alternative to HorseRef where horses have
    been coupled together for tote betting purposes.
    <ClothRef number="0"> is used to represent "ANY" in the context
    of a dividend being paid out on a consolation basis.

    Attributes:
    number          The number of the horse or coupled horses
-->
<!ELEMENT ClothRef EMPTY>
<!ATTLIST ClothRef
    number CDATA #REQUIRED
>

<!--
    Bet Element

    Elements:
    HorseRef+       The result combination that the dividend is paid for.

    Attributes:
    type            The type of dividend
    currency        The currency paid in e.g. GBP
    dividend        The amount paid
-->
<!ELEMENT Bet (
    HorseRef+
)>
<!ATTLIST Bet
    type (CSF | ReverseForecast | Tricast) #REQUIRED
    currency CDATA #REQUIRED
    dividend CDATA #REQUIRED
>

<!--
    BetMarket Element

    Attributes:
    marketNumber    The number of this betting market (1, 2, 3 etc)
    dtFormed        Date/time when this market was formed
                    (format ISO 8601:1988 yyyymmddThhmmss+/-hhmm).  
    dtSuspended     Date/time when market was suspended
                    (format ISO 8601:1988 yyyymmddThhmmss+/-hhmm).  
    deduction       Amount deducted to this market (Rule Four)
    deductionType   Type of deduction applied:
                    None - no rule four
                    BoardPrices - deduction applies to board prices
                    AllBets - deduction applies to all bets
-->
<!ELEMENT BetMarket EMPTY>
<!ATTLIST BetMarket
    marketNumber CDATA #REQUIRED
    dtFormed CDATA #REQUIRED
    dtSuspended CDATA #IMPLIED
    deduction CDATA #REQUIRED
    deductionType (None | BoardPrices | AllBets) "None"
>

<!-- 
    WinningDistance Element
    
    Distance between consecutive finishers of the race
    
    Attributes:
    index           The index of the finish position:
                    1 = between 1st and 2nd
                    2 = between 2nd and 3rd
    btnDistance     Distance between the two specified finishers
-->
<!ELEMENT WinningDistance EMPTY>
<!ATTLIST WinningDistance
    index CDATA #REQUIRED
    btnDistance CDATA #REQUIRED
>

<!--
    MultiBet Element

    This element contains details of multi-race bets.
    These bets may be "pool" based (e.g. Jackpot)
    or based on starting prices (e.g. Place Six).

    Element:
    PoolDetails?    Present for "pool" based bets.
    CarryForward?   Present for "pool" based bets but only if the pool
                    has not been completely won, and is being carried over
                    to a future meeting.
    MultiBetLeg*    Specifies races and leg results
    MultiBetConsolation*
                    Details of any bet consolations

    Attributes:
    type            Type of multibet
    currency        The currency paid in e.g. GBP
    dividend        The amount paid.
                    Where a pool is not won the dividend will contain "0.00"
    stake           Unit stake
-->
<!ELEMENT MultiBet (
    PoolDetails?, CarryForward?, MultiBetLeg*, MultiBetConsolation*
)>
<!ATTLIST MultiBet
    type (Jackpot | Placepot | Quadpot |
          IrishJackpot | IrishPlacepot |
          PlaceSix | PlaceFive |
          DailyDouble | Pick3 | Pick4 | Pick6 |
 	  Super7 | Super6 | Super5 | DailyTreble | 
	  Scoop6Win | Scoop6Place |  Scoop6Bonus ) #REQUIRED
    currency CDATA #REQUIRED
    dividend CDATA #REQUIRED
    stake CDATA #IMPLIED
>

<!--
    PoolDetails Element

    This element contains details for pool based bets.

    Attributes:
    currency        The currency paid in e.g. GBP
    pool            The total prize pool.
    winStakes       The winning stake (number of winning tickets).
-->
<!ELEMENT PoolDetails EMPTY>
<!ATTLIST PoolDetails
    currency CDATA #REQUIRED
    pool CDATA #REQUIRED
    winStakes CDATA #REQUIRED
>

<!--
    CarryForward Element

    This element contains details of pool based bets
    that have not been entirely won. The remaining prize pool
    is carried forward to a future meeting (or race) as specified below.

    Attributes:
    currency        The currency paid in e.g. GBP
    pool            The prize pool being carried forward.
    date            Date carried forward to.
    time            The time of race carried forward to (if applicable)
    course          The course carried forward to (if applicable)
    country         The country of the specified course (if applicable)
-->
<!ELEMENT CarryForward EMPTY>
<!ATTLIST CarryForward
    currency CDATA #REQUIRED
    pool CDATA #REQUIRED
    date CDATA #REQUIRED
    time CDATA #IMPLIED
    course CDATA #IMPLIED
    country CDATA #IMPLIED
>

<!--
    MultiBetLeg element

    Used to specify which races comprise a multi-race bet.

    Elements:
    ClothRef*       Specifies the cloth numbers of horses that are
                    correct selections for each leg of the MultiBet
    
    Attributes:
    leg             leg number
    raceId          id of the race
-->
<!ELEMENT MultiBetLeg (ClothRef*)>
<!ATTLIST MultiBetLeg
    leg CDATA #REQUIRED
    raceId CDATA #REQUIRED
>

<!--
    MultiBetConsolation element

    Consolation dividends are sometimes paid for multi-race bets
    if the winning combination has not been selected.
    These are either specified as an alternative set of leg results
    which may make use of the ANY construct (see ClothRef element), or
    as a dividend paid for having a specified number of "correct" selections.

    Elements:
    MultiBetLeg+    Specifies races and alternative leg results
    MultiBetConsolationAny
                    Specifies number of correct selections

    Attributes:
    currency        the currency of the bet e.g. USD
    dividend        the consolation dividend paid
    stake           unit stake for the consolation
-->
<!ELEMENT MultiBetConsolation (MultiBetLeg+ | MultiBetConsolationAny)>
<!ATTLIST MultiBetConsolation
    currency CDATA #REQUIRED
    dividend CDATA #REQUIRED
    stake CDATA #IMPLIED
>

<!-- 
    MultiBetConsolationAny Element

    Specifies number of correct selections required by the
    parent MultiBetConsolation element.

    Attributes:
    correct         the number of correct selections
-->
<!ELEMENT MultiBetConsolationAny EMPTY>
<!ATTLIST MultiBetConsolationAny
    correct CDATA #REQUIRED
>

<!-- 
    Weather Element
    
    The value of this element is a weather description
-->
<!ELEMENT Weather (#PCDATA)>

<!-- 
    Going Element
    
    Element contains full description of going.
    e.g Good (Good to Soft in places)

    Attributes:
    brief         Brief description of going e.g. "Good"
-->
<!ELEMENT Going (#PCDATA)>
<!ATTLIST Going
    brief CDATA #REQUIRED
>

<!-- 
    OffTime Element
    
    Contains the details of when the race started

    Attributes:
    date            Date race started (format ISO 8601:1988 yyyymmdd)
    time            Time race started (format ISO 8601:1988 hhmm+/-hhmm)
-->
<!ELEMENT OffTime EMPTY>
<!ATTLIST OffTime
    date CDATA #REQUIRED
    time CDATA #REQUIRED
>

<!-- 
    WinTime Element
    
    Holds the time it took the winner to complete the course

    Attributes:
    time            Time taken (format ISO 8601:1988 mmss.ss)
-->
<!ELEMENT WinTime EMPTY>
<!ATTLIST WinTime
    time CDATA #REQUIRED
>

<!-- 
    PhotoFinish Element
    
    Indicates that the horse was involved in a photograph
    for the specified position.

    Attributes:
    position        The position the photograph is for.
                    1 = 1st place, 2 = 2nd place, etc.
    ordering        Probable finishing order
-->
<!ELEMENT PhotoFinish EMPTY>
<!ATTLIST PhotoFinish
    position CDATA #REQUIRED
    ordering CDATA #IMPLIED
>

<!--
    Result Element

    Attributes:
    finishPos       Initial finishing position (first past post)
    disqualified    Indicates if horse was disqualified
    amendedPos      Amended position (after Stewards Inquiry)
    btnDistance     Distance behind preceding finisher
-->
<!ELEMENT Result EMPTY>
<!ATTLIST Result
    finishPos CDATA #REQUIRED
    disqualified (No | Yes) "No"
    amendedPos CDATA #IMPLIED
    btnDistance CDATA #IMPLIED
>

<!-- 
    Casualty Element
    
    A casualty is a horse that failed to complete the race.

    Attributes:
    reason          Reason horse failed to complete race
                    A value of "DidNotFinish" is used when the official
                    reason for failing to complete has not yet been announced.
-->
<!ELEMENT Casualty EMPTY>
<!ATTLIST Casualty
    reason (Fell |
            PulledUp |
            UnseatedRider |
            BroughtDown |
            Refused |
            CarriedOut |
            RanOut |
            SlippedUp |
            HitRails |
            RefusedToRace |
            DidNotFinish) #REQUIRED
>

<!--
    CloseUp Element

    The "closeup" describes the way the horse ran in the race

    Attributes:
    comment         Description of how horse ran
                    e.g. "held up in touch, ridden before 3 out, weakened"
-->
<!ELEMENT CloseUp EMPTY>
<!ATTLIST CloseUp
    comment CDATA #REQUIRED
>

<!--
    BetMovements Element

    Textual description of horse odds availability

    Attributes:
    comment         Description of odds availability
                    e.g. "op 11/8 tchd 9/4 in places"
-->
<!ELEMENT BetMovements EMPTY>
<!ATTLIST BetMovements
    comment CDATA #REQUIRED
>

<!--
    BigBets Element

    Details of bets placed on the horse
    These are made up from cash bets and office money.

    Elements:
    BigBetCash*     Cash bets placed on the horse
    BigBetOffice*   Office money details for the horse
-->
<!ELEMENT BigBets (
    (BigBetCash+, BigBetOffice*) | BigBetOffice+
)>

<!--
    BigBetCash Element

    Details of cash bets placed on horse

    Attributes:
    type            Type of bet placed
    currency        The currency paid in e.g. GBP
    stake           Size of stake involved
    win             What the bet would have won
    count           Number of times this bet was placed
-->
<!ELEMENT BigBetCash EMPTY>
<!ATTLIST BigBetCash
    type (Win | EachWay) #REQUIRED
    currency CDATA #REQUIRED
    stake CDATA #REQUIRED
    win CDATA #REQUIRED
    count CDATA #REQUIRED
>

<!--
    BigBetOffice Element

    Details of office money placed on horse

    Attributes:
    type            Type of office money
-->
<!ELEMENT BigBetOffice EMPTY>
<!ATTLIST BigBetOffice
    type (OfficeMoney |
          IncludingOfficeMoney |
          LateOfficeMoney |
          SmallOfficeMoney) #REQUIRED
>

<!--
    Message Element

    Handle any other racing messages.
    The context of the message is specified with the type attribute,
    but the content is somewhat textual in nature.

    Attributes:
    type            Type of message
-->
<!ELEMENT Message (#PCDATA)>
<!ATTLIST Message
    type (Stalls |
          OmittedFences |
          FlagStart |
          RaceVoid |
          Suspension |
          NonTrier |
          Disqualified |
          JockeyNews) #REQUIRED
>

<!--
    Selling Details Element

    Contains details of horses sold or claimed after the race result.

    Elements:
    HorseRef        The horse being sold or claimed
    HorseValue?     The value paid for the horse
    HorseBuyer?     The buyer of the horse

    Attributes:
    type            The type of transaction
-->
<!ELEMENT SellingDetails (
    HorseRef, HorseValue?, HorseBuyer?
)>
<!ATTLIST SellingDetails
    type (NoBid | BoughtIn | Sold | Claimed) #REQUIRED
>

<!--
    HorseValue Element

    Amount paid for horse.

    Attributes:
    currency        The currency paid e.g. GBP
    amount          The value paid
-->
<!ELEMENT HorseValue EMPTY>
<!ATTLIST HorseValue
    currency CDATA #REQUIRED
    amount CDATA #REQUIRED
>

<!--
    HorseBuyer Element

    Attributes:
    name            Name of purchaser of horse
-->
<!ELEMENT HorseBuyer EMPTY>
<!ATTLIST HorseBuyer
    name CDATA #REQUIRED
>
